<!DOCTYPE html>
<html lang="ka">
<head>
  <meta charset="UTF-8" />
  <title>Login</title>
</head>
<body>
  <h2>Login (HTML ფორმა)</h2>
  {% if error %}<p style="color:red">{{ error }}</p>{% endif %}
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <p>
      <label>Username ან Email:</label><br/>
      <input type="text" name="username" />
    </p>
    <p>
      <label>Password:</label><br/>
      <input type="password" name="password" />
    </p>
    <button type="submit">Login</button>
  </form>
</body>
</html>
